:root {
  --primary-color: #35354d;
  --secondary-color: #0e0c22;
  --tertiary-color: #0a091a;
  --text-color: #f5f5f5;
}

body {
  background-color: var(--tertiary-color);
  font-family: Source Code Pro, monospace;
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-top: 40px;
  color: var(--text-color);
}

#meme {
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  display: block;
  background-color: var(--secondary-color);
  border: var(--primary-color) solid 2px;
  border-radius: 20px;
}

img {
  max-width: 90%;
  max-height: 90%;
  height: auto;
  margin: 30px auto;
  display: block;
}

#new-meme {
  margin-top: 45px;
  font-size: 20px;
  color: var(--text-color);
  background-color: var(--tertiary-color);
  border: var(--primary-color) solid 2px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.2s ease,
    border-color 0.2s ease;
}

#new-meme:hover {
  background-color: var(--primary-color);
  border-color: var(--text-color);
  transform: scale(1.15);
}

#new-meme:active {
  transform: scale(0.9);
}

#subreddit {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 18px;
  background-color: var(--tertiary-color);
  border: var(--primary-color) solid 2px;
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

#subreddit:hover {
  background-color: var(--primary-color);
  border-color: var(--text-color);
  transform: scale(1.05);
}
