:root {
  --text-color: #ffffffe1;
}

* {
  overflow-x: hidden;
  overflow-y: visible;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 420vh;
}

.main {
  z-index: 2;
  position: absolute;
}

.header {
  z-index: 7;
  color: #ffffffe1;
  text-shadow: #ffffffe0 0px 0px 8px;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 700;
  text-align: center;
}

.intro {
  color: #ffffffe1;
  text-shadow: #ffffffe0 0px 0px 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.intro h1 {
  font-size: clamp(3rem, 6vw, 5rem);
  margin: 0;
  width: 90%;
}

.intro p {
  font-size: clamp(0.875rem, 1.8vw, 1.25rem);
  margin: 0;
  width: 90%;
}

.about {
  color: #ffffffe1;
  text-shadow: #ffffffe0 0px 0px 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100vw;
  flex-direction: column;
}

.about h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  margin: 0;
  width: 70%;
}

.about p {
  font-size: clamp(0.875rem, 1.8vw, 1.25rem);
  margin: 0;
  width: 70%;
}

.skills {
  color: #ffffffe1;
  text-shadow: #ffffffe0 0px 0px 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100vw;
  flex-direction: column;
}

.skills h2 {
  font-size: clamp(2rem, 4vw, 4rem);
}

.skill-list {
  width: 45%;
  border: #fff solid 1px;
  border-radius: 2vw;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 1vw;
  gap: 3vw;
}

.skill-list p {
  font-size: clamp(0.875rem, 1.8vw, 1.25rem);
  border: #fff 1px solid;
  border-radius: 2vw;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  padding: 0.3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  transition: all 0.2s ease;
  cursor: pointer;
}

.skill-list p:hover {
  transform: scale(1.12);
  background-color: #fff;
  color: #000
}

.projects {
  color: #ffffffe1;
  text-shadow: #ffffffe0 0px 0px 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  flex-direction: column;
}

.projects h2 {
  font-size: clamp(2rem, 4vw, 4rem);
}

.project-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6vw;
  margin-top: 0;
}

.project-list p {
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.875rem, 1.8vw, 1.25rem);
  border: #fff 1px solid;
  border-radius: 2vw;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  padding: 0.3vw;
  padding-left: 2vw;
  padding-right: 2vw;
  transition: all 0.2s ease;
  cursor: pointer;
}

.project-list p:hover {
  transform: scale(1.12);
  background-color: #fff;
  color: #000
}

.contact {
  color: #ffffffe1;
  font-size: clamp(0.875rem, 1.8vw, 1.25rem);
  text-shadow: #ffffffe0 0px 0px 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  flex-direction: column;
}

.end {
  color: #ffffffe1;
  text-shadow: #ffffffe0 0px 0px 12px;
  font-size: clamp(0.875rem, 1.8vw, 1.25rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100vw;
  flex-direction: column;
}

.stars,
.twinkling {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
  background: #000 url("images/static-stars.png") repeat top center;
}

.twinkling {
  z-index: 1;
  background: transparent url("images/black-stars.png") repeat top center;
  animation: move-twink-back 260s linear infinite;
}

.screen {
  z-index: 5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgb(0, 0, 0) 100%
  );
  pointer-events: none
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

#blinking-cursor {
  animation: blinking-cursor 1s steps(1) infinite;
}

@keyframes blinking-cursor {
  0% {
    color: var(--text-color);
  }
  50% {
    color: transparent;
  }
  100% {
    color: var(--text-color);
  }
}

.contact {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68vh;
  width: 100vw;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  gap: 1.5rem;
}

.user-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 48vw;
  gap: 1.5rem;
}

.user-data input {
  width: 39%;
  min-height: 3vh;
}

.contact-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48vw;
  gap: 1.5rem;
}

.contact-data input,
textarea {
  width: 85%;
  min-height: 3vh;
}

form input,
textarea,
button {
  border: #fff 1px solid;
  background-color: transparent;
  color: var(--text-color);
  text-shadow: #ffffffe0 0px 0px 14px;
  border-radius: 1vw;
  padding: 0.3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  cursor: pointer;
  resize: none;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  border: #fff 3px dotted;
}

form button:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: black;
}

@media (max-width: 768px) {
  .user-data {
    flex-direction: column;
    width: 90vw;
  }
  .contact-data {
    width: 90vw;
  }
  .user-data input,
  .contact-data input,
  .contact-data textarea {
    width: 95%;
  }
}

