@font-face {
  font-family: "csgo";
  src: url("/font/csgo.ttf");
}

body {
  overflow: hidden;
}

#input-container * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#output-container {
  font-family: "csgo";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wheel {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wheel-item {
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.wheel-selector {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: red;
  z-index: 10;
}

.rarity-common {
  border-color: grey;
  border-width: 5px;
}
.rarity-uncommon {
  border-color: rgb(28, 146, 28);
  border-width: 5px;
}
.rarity-rare {
  border-color: rgb(71, 71, 247);
  border-width: 5px;
}
.rarity-epic {
  border-color: purple;
  border-width: 5px;
}
.rarity-legendary {
  border-color: orange;
  border-width: 5px;
}
